.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loaderSection {
    height: 551px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileView {
    display: none; // default hidden
}
.taskTableWrapper{
    margin-top: 10px;
    // height: calc(87vh - 100px);
    // overflow-y: auto;
    .customTableHeader{
        display: flex;
        width: "100%";
        background: #6e777f;
        font-weight: 500;
        color: #fff;
        border-radius: 5px 5px 0px 0px;
        div{
            padding: 0px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .customTable{
        height: calc(80vh - 100px);
        overflow-y: auto;
        border-radius: 0px 0px 10px 10px;
        .tableRow{
            display: flex;
            align-items: center;
            background-color: #fff;
            border-bottom: 1px solid #6e777f26;
        }
    }
}

.card {
    background: #f9f9f9;
    // border: 1px solid #ddd;
    margin: 10px 0px 15px 0px;
    padding: 16px;
    border-radius: 15px;
    // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow: #007bff33 0px 25px 20px -20px;
}

.cardHeader {
    h3{
        margin: 0px 0px 10px 0px ;
        font-size: 15px;
        color: #4f2674;
    }
}
.cardContent{
    p{
        margin: 6px 0;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
    }
    .cardProgress{
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-size: 13px;
        }
    }
}
 .mobilePaginator {
     display: none;
 }
 .noDataFound {
     display: flex;
     justify-content: center;
     margin-top: 20px;
     color: #403555;
     font-weight: 500;
 }

// 🔁 Responsive Rules
@media screen and (max-width: 768px) {
    .desktopView {
        display: none;
    }
    .mobilePaginator{
        display: block;
    }
    .noDataFound {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: #403555;
        font-weight: 500;
    }
    .mobileView {
        display: block;
        height: calc(91vh - 100px);
        overflow-y: auto;
    }
    .fullmobileView{
        display: block;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
}

.Persona {
    width: 30px;
    height: 30px;
    background-color: #0a1b39;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 13px;

    .AllPersona {
        visibility: visible;
    }
}